<div class="changepass-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <!-- <label for="name">Email</label>
            <input type="text" class="form-control" formControlName="email"> -->
            <mat-form-field floatPlaceholder="never">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldpassword" placeholder="Mật khẩu cũ" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field> 
            <div *ngIf="submitted && registerForm.get('oldpassword').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('oldpassword').errors.required">Yêu cầu nhập mật khẩu</div>
            </div>
        </div>
    
        <div class="form-group">
            <!-- <label for="name">Password</label>
            <input type="password" class="form-control" formControlName="password"> -->
            <mat-form-field floatPlaceholder="never">
                <input matInput type="password" formControlName="password" placeholder="Mật khẩu mới" >
            </mat-form-field>
            <div *ngIf="submitted && registerForm.get('password').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('password').errors.required">Yêu cầu nhập mật khẩu mới</div>
            </div>
        </div>
    
        <div class="form-group">
            <!-- <label for="name">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword"> -->
            <mat-form-field floatPlaceholder="never">
                <input matInput type="password" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu mới" >
            </mat-form-field>
            <div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('confirmPassword').errors.required">Yêu cầu nhập xác nhận mật khẩu</div>
    
                <div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator">Xác nhận mật khẩu mới không khớp. </div>
            </div>
        </div>
        <button type="submit" color="warn" mat-raised-button class="btn btn-success">Lưu</button>
    </form>
</div>
