.changepass-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }



.changepass-container > * {
    margin-top: 10px;
    width: 400px;    
  }

  .mat-form-field {
    width: 100%;
    display: block;
  }

  .changepass-container > button {
    display: unset;
    flex-direction:unset;
    width: 200px;
  }

  .mat-icon {
    cursor: pointer;
  }