.container {
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .mat-elevation-z8 {
    margin-right: 5px;
  }
  
  /* Toolbar */
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Filter */
  .form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }
  
  .mat-header-cell {
    background-color: rgb(0, 150, 136);
    color: white;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: medium;
  }
  
  
  /* Round the top table corners */
  .mat-header-cell:first-child {
    border-top-left-radius: 5px;
  }
  .mat-header-cell:last-child {
    border-top-right-radius: 5px;
  }

  .mat-column-AddictCode {
    flex: none;
    width: 100px;
}

  .mat-column-PlaceName {
    flex: none;
    width: 300px;
}

.mat-column-Remarks {
  flex: none;
  width: 500px;
}

